/node_modules
/public/build
/public/hot
/public/storage
# Ignore everything in the images folder
/public/images/*

# But don't ignore icons and logo folders
!/public/images/icons/
!/public/images/logo/
!/public/images/loading/
!/public/files/
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
